In [7]:
a = 10
print(a)
print("hello world")

10
hello world

In [10]:
if True:
    print( "true")
else :
    print( "false")

true

In [8]:
"I have %s apples" % 3

'I have 3 apples'

In [9]:
"I have %d apples" % 3

'I have 3 apples'

In [13]:
"%10s" % "hi"

'        hi'

In [14]:
"%-10sjane" % "hi"

'hi        jane'

In [15]:
"%10.4f" %3.141592

'    3.1416'

In [1]:
a = "This is some String"
a[1:10]

'his is so'

In [3]:
"%s2" % "apple"

'apple2'

In [4]:
"a%s" %"pples"

'apples'

In [5]:
"I eat {0} apples".format(5)

'I eat 5 apples'

In [2]:
a = "apple"
"I have an %s and pine%s" % (a, a)

'I have an apple and pineapple'

In [9]:
"I have an {fruit} and {stationary}".format(fruit="apple", stationary="pens")

'I have an apple and pens'

In [1]:
"{0:<10}".format("hi")

'hi        '

In [2]:
"{0:>10}".format('name')

'      name'

In [1]:
"{0:^10}".format('hey')

'   hey    '

In [2]:
"{0:+^10}".format('yo')

'++++yo++++'

In [10]:
"{{ and }}".format()

'{ and }'

In [12]:
"{0:10.4f}".format(3.141592)

'    3.1416'

#f string formatting

In [15]:
name ="Abby"
age = 30
f'I am {name} and {age}'

'I am Abby and 30'

In [16]:
age = 30
f'I will be {age+1} next year'

'I will be 31 next year'

In [20]:
d={'name':'Abby', 'age':28}
f'I am {d["name"]} and {d["age"]} years old'

'I am Abby and 28 years old'

In [21]:
f'{"hi":<10}'

'hi        '

In [22]:
f'{"hi":>10}'

'        hi'

In [23]:
f'{"Meow":^10}'

'   Meow   '

In [26]:
f'{"Meow":-^16}'

'------Meow------'

In [27]:
f'{3.141592:10.4f}'

'    3.1416'

functions r/ to string

In [30]:
a = "abby"
a.count('b')

2

In [41]:
a = "I am Abby and 30 years old"
a.find('Abby')

5

In [42]:
a.find('Amy')

-1

In [43]:
a = "Life is too short so YOLO!"
a.index('YOLO')

21

In [44]:
a.index('n')

ValueError: substring not found

In [46]:
", ".join('abcd')

'a, b, c, d'

In [48]:
", ".join(['1', '2', '3', '4', '5'])

'1, 2, 3, 4, 5'

In [49]:
a = 'HI'
a.lower()

'hi'

In [50]:
a = 'hi'
a.upper()

'HI'

In [58]:
a = ' hi '
a.lstrip()

'hi '

In [59]:
a= ' hi '
a.rstrip()

' hi'

In [61]:
a = ' hi '
a.strip()

'hi'

In [62]:
a = 'List is too short'
a.replace('List', 'Life')

'Life is too short'

In [63]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [66]:
a = 'Life, is, too, short'
a.split(', ')

['Life', 'is', 'too', 'short']