In [1]:
dic = {'name': 'Abby', 'age': 30}
dic['gender']='male'
dic

{'name': 'Abby', 'age': 30, 'gender': 'male'}

In [2]:
a = {1: 'odd', 2: 'even', 3: 'zero'}
del a[3]
a

{1: 'odd', 2: 'even'}

In [3]:
a[1]

'odd'

key must be immutable stuff like tuple => cannot use list for that reason

In [4]:
a = {(1,2): 'banana'}
a[(1,2)]

'banana'

In [5]:
a = {'name': 'Abby', 'age': 30, 'gender':'male'}
a.keys()

dict_keys(['name', 'age', 'gender'])

dict_keys is iterable object => can be used in 'for'

In [7]:
for k in a.keys():
    print(k)

name
age
gender

In [8]:
list(a.keys())

['name', 'age', 'gender']

In [9]:
a.values()

dict_values(['Abby', 30, 'male'])

In [10]:
a.items()

dict_items([('name', 'Abby'), ('age', 30), ('gender', 'male')])

In [12]:
list(a.items())

[('name', 'Abby'), ('age', 30), ('gender', 'male')]

In [14]:
a = {'name':'Ann', 'age': 17, 'gender': 'female'}
a.clear()
a

{}

In [15]:
a = {'name':'Ann', 'age': 17, 'gender': 'female'}
a.get('age')

17

In [16]:
a.get('foo', 'undefined')

'undefined'

In [17]:
a = {'name':'Ann', 'age': 17, 'gender': 'female'}
'name' in a

True

In [18]:
'age' in a

True

In [19]:
'address' in a

False