Tuple, immutable, use parenthesis ( )

In [5]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

t3[2]

3

In [7]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [8]:
t1 = (1, 2, 'a', 'b')
t2 = 3, 4
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [9]:
t1 = (3, 4)
t1 * 3

(3, 4, 3, 4, 3, 4)

In [10]:
t1 = (1, 2, 'a', 'b')
len(t1)

4