In [1]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [2]:
s2 = set('hello')
s2

{'e', 'h', 'l', 'o'}

In [4]:
s3 = set([4, 5, 6])
l1 = list(s3)
l1

[4, 5, 6]

In [7]:
s3 = set([4, 5, 6])
t1 = tuple(s3)
t1

(4, 5, 6)

In [8]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [9]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s1 - s2

{1, 2, 3}

In [12]:
s1.difference(s2)

{1, 2, 3}

In [13]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [14]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [16]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}