In [3]:
avg = (80 + 75 + 55) / 3
avg

70.0

In [6]:
if 13%2 == 1:
    print('odd')
else: 
    print('even')

odd

In [8]:
a = '881120-1068234'
a.split('-')

['881120', '1068234']

In [9]:
pin ='881120-1068234'
pin[7]

'1'

In [11]:
a = 'a:b:c:d'
a.replace(':', "#")

'a#b#c#d'

In [12]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [14]:
a = ['Life', 'is','too', 'short']
' '.join(a)

'Life is too short'

In [18]:
a = (1,2,3)
a + (4,)

(1, 2, 3, 4)

In [19]:
a[[1]]='python'

TypeError: 'tuple' object does not support item assignment

In [22]:
a = {'A':90, 'B':80, 'C':70}
a['B']

80

In [23]:
a.pop('B')

80

In [26]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
b

{1, 2, 3, 4, 5}

In [28]:
a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)

[1, 4, 3]

reference가 동일하기 때문에 같이 변화한다. 이를 막기 위해서는 copy 를 하거나 slice 를 한다